{% if product.metafields.custom_fields["spec8"] != blank %}
  <div class="custom-field custom-field__spec8 custom-field__type--text">
    <h3 class="custom-field--title">spec8</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["spec8"] }}
    </div>
  </div>
{% endif %}