{% if product.metafields.custom_fields["fact1"] != blank %}
  <div class="custom-field custom-field__fact1 custom-field__type--text">
    <h3 class="custom-field--title">fact1</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["fact1"] }}
    </div>
  </div>
{% endif %}