{% if product.metafields.custom_fields["fact8"] != blank %}
  <div class="custom-field custom-field__fact8 custom-field__type--text">
    <h3 class="custom-field--title">fact8</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["fact8"] }}
    </div>
  </div>
{% endif %}