{% if product.metafields.custom_fields["fact6"] != blank %}
  <div class="custom-field custom-field__fact6 custom-field__type--text">
    <h3 class="custom-field--title">fact6</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["fact6"] }}
    </div>
  </div>
{% endif %}