{% if product.metafields.custom_fields["spec12"] != blank %}
  <div class="custom-field custom-field__spec12 custom-field__type--text">
    <h3 class="custom-field--title">spec12</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["spec12"] }}
    </div>
  </div>
{% endif %}