{% if product.metafields.custom_fields["spec13"] != blank %}
  <div class="custom-field custom-field__spec13 custom-field__type--text">
    <h3 class="custom-field--title">spec13</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["spec13"] }}
    </div>
  </div>
{% endif %}