{% if product.metafields.custom_fields["spec4"] != blank %}
  <div class="custom-field custom-field__spec4 custom-field__type--text">
    <h3 class="custom-field--title">spec4</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["spec4"] }}
    </div>
  </div>
{% endif %}