{% if product.metafields.custom_fields["fact7"] != blank %}
  <div class="custom-field custom-field__fact7 custom-field__type--text">
    <h3 class="custom-field--title">fact7</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["fact7"] }}
    </div>
  </div>
{% endif %}