{% if product.metafields.custom_fields["fact2"] != blank %}
  <div class="custom-field custom-field__fact2 custom-field__type--text">
    <h3 class="custom-field--title">fact2</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["fact2"] }}
    </div>
  </div>
{% endif %}