{% if product.metafields.custom_fields["fact15"] != blank %}
  <div class="custom-field custom-field__fact15 custom-field__type--text">
    <h3 class="custom-field--title">fact15</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["fact15"] }}
    </div>
  </div>
{% endif %}