{% if product.metafields.custom_fields["spec7"] != blank %}
  <div class="custom-field custom-field__spec7 custom-field__type--text">
    <h3 class="custom-field--title">spec7</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["spec7"] }}
    </div>
  </div>
{% endif %}