{% if product.metafields.custom_fields["spec5"] != blank %}
  <div class="custom-field custom-field__spec5 custom-field__type--text">
    <h3 class="custom-field--title">spec5</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["spec5"] }}
    </div>
  </div>
{% endif %}