{% if product.metafields.custom_fields["kategorie"] != blank %}
  <div class="custom-field custom-field__kategorie custom-field__type--text">
    <h3 class="custom-field--title">Kategorie</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["kategorie"] }}
    </div>
  </div>
{% endif %}