{% if product.metafields.custom_fields["spec3"] != blank %}
  <div class="custom-field custom-field__spec3 custom-field__type--text">
    <h3 class="custom-field--title">spec3</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["spec3"] }}
    </div>
  </div>
{% endif %}