{% if product.metafields.custom_fields["spec14"] != blank %}
  <div class="custom-field custom-field__spec14 custom-field__type--text">
    <h3 class="custom-field--title">spec14</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["spec14"] }}
    </div>
  </div>
{% endif %}