{% if product.metafields.custom_fields["file"] != blank %}
  <div class="custom-field custom-field__file custom-field__type--file">
    <h3 class="custom-field--title">file</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["file"] }}
    </div>
  </div>
{% endif %}