{% if product.metafields.custom_fields["spec11"] != blank %}
  <div class="custom-field custom-field__spec11 custom-field__type--text">
    <h3 class="custom-field--title">spec11</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["spec11"] }}
    </div>
  </div>
{% endif %}