<div class="product__form-wrapper-outer">
  <input type="hidden" value="{{ product.name }}--{{ product.id }}" name="productname">
  <h2>Fragen Sie uns unverbindlich an</h2>

  <h4>Angabe Fenster</h4>
  <div id="form-wrapper" class="product-popup-wrapper">
    <div class="cform_field_wrapper">
      <div class="cform_fouritems">
        <div class="cform_fouritems-inner">
          <label for="field1"
            >Glas Breite cm
            <div class="cform_erroricon tooltip">
              <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.99935 10.1667H6.99935V6.33334H5.99935V10.1667ZM6.49935 5.19234C6.6519 5.19234 6.77979 5.14073 6.88301 5.0375C6.98624 4.93428 7.03785 4.80639 7.03785 4.65384C7.03785 4.50128 6.98624 4.37339 6.88301 4.27017C6.77979 4.16706 6.6519 4.1155 6.49935 4.1155C6.34679 4.1155 6.2189 4.16706 6.11568 4.27017C6.01246 4.37339 5.96085 4.50128 5.96085 4.65384C5.96085 4.80639 6.01246 4.93428 6.11568 5.0375C6.2189 5.14073 6.34679 5.19234 6.49935 5.19234ZM6.50052 13.3333C5.62452 13.3333 4.80113 13.1671 4.03035 12.8347C3.25957 12.5022 2.58913 12.0511 2.01902 11.4812C1.4489 10.9113 0.997515 10.2411 0.664849 9.47067C0.332293 8.70023 0.166016 7.87706 0.166016 7.00117C0.166016 6.12517 0.332238 5.30178 0.664682 4.531C0.997127 3.76023 1.44829 3.08978 2.01818 2.51967C2.58807 1.94956 3.25824 1.49817 4.02868 1.1655C4.79913 0.832949 5.62229 0.666672 6.49818 0.666672C7.37418 0.666672 8.19757 0.832894 8.96835 1.16534C9.73913 1.49778 10.4096 1.94895 10.9797 2.51884C11.5498 3.08873 12.0012 3.75889 12.3338 4.52934C12.6664 5.29978 12.8327 6.12295 12.8327 6.99884C12.8327 7.87484 12.6665 8.69823 12.334 9.469C12.0016 10.2398 11.5504 10.9102 10.9805 11.4803C10.4106 12.0504 9.74046 12.5018 8.97002 12.8345C8.19957 13.1671 7.3764 13.3333 6.50052 13.3333ZM6.49935 12.3333C7.98824 12.3333 9.24935 11.8167 10.2827 10.7833C11.316 9.75 11.8327 8.48889 11.8327 7C11.8327 5.51112 11.316 4.25001 10.2827 3.21667C9.24935 2.18334 7.98824 1.66667 6.49935 1.66667C5.01046 1.66667 3.74935 2.18334 2.71602 3.21667C1.68268 4.25001 1.16602 5.51112 1.16602 7C1.16602 8.48889 1.68268 9.75 2.71602 10.7833C3.74935 11.8167 5.01046 12.3333 6.49935 12.3333Z" fill="#EE7113"></path>
              </svg>              
            </div>
            <div class="tooltip_content">
                <img src="https://cdn.shopify.com/s/files/1/0577/8551/6126/files/popup-groessen_500x.jpg?v=1723209059" loading="lazy" width="500" height="auto" />
            </div>
          </label>
          <input type="text" id="field1" name="fenster[1][glassWidth]" value="">
        </div>
        <div class="cform_fouritems-inner">
          <label for="field2"
            >Glas Höhe cm
            <div class="cform_erroricon tooltip">
              <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.99935 10.1667H6.99935V6.33334H5.99935V10.1667ZM6.49935 5.19234C6.6519 5.19234 6.77979 5.14073 6.88301 5.0375C6.98624 4.93428 7.03785 4.80639 7.03785 4.65384C7.03785 4.50128 6.98624 4.37339 6.88301 4.27017C6.77979 4.16706 6.6519 4.1155 6.49935 4.1155C6.34679 4.1155 6.2189 4.16706 6.11568 4.27017C6.01246 4.37339 5.96085 4.50128 5.96085 4.65384C5.96085 4.80639 6.01246 4.93428 6.11568 5.0375C6.2189 5.14073 6.34679 5.19234 6.49935 5.19234ZM6.50052 13.3333C5.62452 13.3333 4.80113 13.1671 4.03035 12.8347C3.25957 12.5022 2.58913 12.0511 2.01902 11.4812C1.4489 10.9113 0.997515 10.2411 0.664849 9.47067C0.332293 8.70023 0.166016 7.87706 0.166016 7.00117C0.166016 6.12517 0.332238 5.30178 0.664682 4.531C0.997127 3.76023 1.44829 3.08978 2.01818 2.51967C2.58807 1.94956 3.25824 1.49817 4.02868 1.1655C4.79913 0.832949 5.62229 0.666672 6.49818 0.666672C7.37418 0.666672 8.19757 0.832894 8.96835 1.16534C9.73913 1.49778 10.4096 1.94895 10.9797 2.51884C11.5498 3.08873 12.0012 3.75889 12.3338 4.52934C12.6664 5.29978 12.8327 6.12295 12.8327 6.99884C12.8327 7.87484 12.6665 8.69823 12.334 9.469C12.0016 10.2398 11.5504 10.9102 10.9805 11.4803C10.4106 12.0504 9.74046 12.5018 8.97002 12.8345C8.19957 13.1671 7.3764 13.3333 6.50052 13.3333ZM6.49935 12.3333C7.98824 12.3333 9.24935 11.8167 10.2827 10.7833C11.316 9.75 11.8327 8.48889 11.8327 7C11.8327 5.51112 11.316 4.25001 10.2827 3.21667C9.24935 2.18334 7.98824 1.66667 6.49935 1.66667C5.01046 1.66667 3.74935 2.18334 2.71602 3.21667C1.68268 4.25001 1.16602 5.51112 1.16602 7C1.16602 8.48889 1.68268 9.75 2.71602 10.7833C3.74935 11.8167 5.01046 12.3333 6.49935 12.3333Z" fill="#EE7113"></path>
              </svg>
            </div>
            <div class="tooltip_content">
                <img src="https://cdn.shopify.com/s/files/1/0577/8551/6126/files/popup-glas-hohe-cm_500x.webp?v=1723220926" loading="lazy" width="500" height="auto" />
            </div>
          </label>
          <input type="text" name="fenster[1][glassHeight]" value="">
        </div>
        <div class="cform_fouritems-inner">
          <span
            >Verglasung
            <div class="cform_erroricon tooltip">
              <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.99935 10.1667H6.99935V6.33334H5.99935V10.1667ZM6.49935 5.19234C6.6519 5.19234 6.77979 5.14073 6.88301 5.0375C6.98624 4.93428 7.03785 4.80639 7.03785 4.65384C7.03785 4.50128 6.98624 4.37339 6.88301 4.27017C6.77979 4.16706 6.6519 4.1155 6.49935 4.1155C6.34679 4.1155 6.2189 4.16706 6.11568 4.27017C6.01246 4.37339 5.96085 4.50128 5.96085 4.65384C5.96085 4.80639 6.01246 4.93428 6.11568 5.0375C6.2189 5.14073 6.34679 5.19234 6.49935 5.19234ZM6.50052 13.3333C5.62452 13.3333 4.80113 13.1671 4.03035 12.8347C3.25957 12.5022 2.58913 12.0511 2.01902 11.4812C1.4489 10.9113 0.997515 10.2411 0.664849 9.47067C0.332293 8.70023 0.166016 7.87706 0.166016 7.00117C0.166016 6.12517 0.332238 5.30178 0.664682 4.531C0.997127 3.76023 1.44829 3.08978 2.01818 2.51967C2.58807 1.94956 3.25824 1.49817 4.02868 1.1655C4.79913 0.832949 5.62229 0.666672 6.49818 0.666672C7.37418 0.666672 8.19757 0.832894 8.96835 1.16534C9.73913 1.49778 10.4096 1.94895 10.9797 2.51884C11.5498 3.08873 12.0012 3.75889 12.3338 4.52934C12.6664 5.29978 12.8327 6.12295 12.8327 6.99884C12.8327 7.87484 12.6665 8.69823 12.334 9.469C12.0016 10.2398 11.5504 10.9102 10.9805 11.4803C10.4106 12.0504 9.74046 12.5018 8.97002 12.8345C8.19957 13.1671 7.3764 13.3333 6.50052 13.3333ZM6.49935 12.3333C7.98824 12.3333 9.24935 11.8167 10.2827 10.7833C11.316 9.75 11.8327 8.48889 11.8327 7C11.8327 5.51112 11.316 4.25001 10.2827 3.21667C9.24935 2.18334 7.98824 1.66667 6.49935 1.66667C5.01046 1.66667 3.74935 2.18334 2.71602 3.21667C1.68268 4.25001 1.16602 5.51112 1.16602 7C1.16602 8.48889 1.68268 9.75 2.71602 10.7833C3.74935 11.8167 5.01046 12.3333 6.49935 12.3333Z" fill="#EE7113"></path>
              </svg>
            </div>
            <div class="tooltip_content">
                <img src="https://cdn.shopify.com/s/files/1/0577/8551/6126/files/popup-verglasung_500x.webp?v=1723220926" loading="lazy" width="500" height="auto" />
            </div>
          </span>
          <select name="fenster[1][glazing]">
            <option value="">Bitte auswählen</option>
            <option value="1-fach">1-fach</option>
            <option value="2-fach">2-fach</option>
            <option value="3-fach">3-fach</option>
          </select>
        </div>
        <div class="cform_fouritems-inner">
          <span>Ausrichtung</span>
          <select name="fenster[1][orientation]">
            <option value="">Bitte auswählen</option>
            <option value="Südost">Südost</option>
            <option value="Süd">Süd</option>
            <option value="Südwest">Südwest</option>
            <option value="West">West</option>
            <option value="Nordwest">Nordwest</option>
            <option value="Nord">Nord</option>
            <option value="Nordost">Nordost</option>
            <option value="Ost">Ost</option>
          </select>
        </div>
      </div>
      <div class="cform_fouritems">
        <div class="cform_fouritems-inner">
          <span
            >Lage
            <div class="cform_erroricon tooltip">
              <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.99935 10.1667H6.99935V6.33334H5.99935V10.1667ZM6.49935 5.19234C6.6519 5.19234 6.77979 5.14073 6.88301 5.0375C6.98624 4.93428 7.03785 4.80639 7.03785 4.65384C7.03785 4.50128 6.98624 4.37339 6.88301 4.27017C6.77979 4.16706 6.6519 4.1155 6.49935 4.1155C6.34679 4.1155 6.2189 4.16706 6.11568 4.27017C6.01246 4.37339 5.96085 4.50128 5.96085 4.65384C5.96085 4.80639 6.01246 4.93428 6.11568 5.0375C6.2189 5.14073 6.34679 5.19234 6.49935 5.19234ZM6.50052 13.3333C5.62452 13.3333 4.80113 13.1671 4.03035 12.8347C3.25957 12.5022 2.58913 12.0511 2.01902 11.4812C1.4489 10.9113 0.997515 10.2411 0.664849 9.47067C0.332293 8.70023 0.166016 7.87706 0.166016 7.00117C0.166016 6.12517 0.332238 5.30178 0.664682 4.531C0.997127 3.76023 1.44829 3.08978 2.01818 2.51967C2.58807 1.94956 3.25824 1.49817 4.02868 1.1655C4.79913 0.832949 5.62229 0.666672 6.49818 0.666672C7.37418 0.666672 8.19757 0.832894 8.96835 1.16534C9.73913 1.49778 10.4096 1.94895 10.9797 2.51884C11.5498 3.08873 12.0012 3.75889 12.3338 4.52934C12.6664 5.29978 12.8327 6.12295 12.8327 6.99884C12.8327 7.87484 12.6665 8.69823 12.334 9.469C12.0016 10.2398 11.5504 10.9102 10.9805 11.4803C10.4106 12.0504 9.74046 12.5018 8.97002 12.8345C8.19957 13.1671 7.3764 13.3333 6.50052 13.3333ZM6.49935 12.3333C7.98824 12.3333 9.24935 11.8167 10.2827 10.7833C11.316 9.75 11.8327 8.48889 11.8327 7C11.8327 5.51112 11.316 4.25001 10.2827 3.21667C9.24935 2.18334 7.98824 1.66667 6.49935 1.66667C5.01046 1.66667 3.74935 2.18334 2.71602 3.21667C1.68268 4.25001 1.16602 5.51112 1.16602 7C1.16602 8.48889 1.68268 9.75 2.71602 10.7833C3.74935 11.8167 5.01046 12.3333 6.49935 12.3333Z" fill="#EE7113"></path>
              </svg>
            </div>
            <div class="tooltip_content">
                <img src="https://cdn.shopify.com/s/files/1/0577/8551/6126/files/popup-fenster_500x.webp?v=1723220926" loading="lazy" width="500" height="auto" />
            </div>
          </span>
          <select name="fenster[1][location]" class="field5">
            <option value="">Bitte auswählen</option>
            <option value="Fassadenfenster">Fassadenfenster</option>
            <option value="Dachfenster">Dachfenster</option>
            <option value="Glastrennwände">Glastrennwände</option>
          </select>
        </div>
        <div class="cform_fouritems-inner">
          <span>
            Wunsch
            <div class="cform_erroricon tooltip" style="display:none;">
              <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.99935 10.1667H6.99935V6.33334H5.99935V10.1667ZM6.49935 5.19234C6.6519 5.19234 6.77979 5.14073 6.88301 5.0375C6.98624 4.93428 7.03785 4.80639 7.03785 4.65384C7.03785 4.50128 6.98624 4.37339 6.88301 4.27017C6.77979 4.16706 6.6519 4.1155 6.49935 4.1155C6.34679 4.1155 6.2189 4.16706 6.11568 4.27017C6.01246 4.37339 5.96085 4.50128 5.96085 4.65384C5.96085 4.80639 6.01246 4.93428 6.11568 5.0375C6.2189 5.14073 6.34679 5.19234 6.49935 5.19234ZM6.50052 13.3333C5.62452 13.3333 4.80113 13.1671 4.03035 12.8347C3.25957 12.5022 2.58913 12.0511 2.01902 11.4812C1.4489 10.9113 0.997515 10.2411 0.664849 9.47067C0.332293 8.70023 0.166016 7.87706 0.166016 7.00117C0.166016 6.12517 0.332238 5.30178 0.664682 4.531C0.997127 3.76023 1.44829 3.08978 2.01818 2.51967C2.58807 1.94956 3.25824 1.49817 4.02868 1.1655C4.79913 0.832949 5.62229 0.666672 6.49818 0.666672C7.37418 0.666672 8.19757 0.832894 8.96835 1.16534C9.73913 1.49778 10.4096 1.94895 10.9797 2.51884C11.5498 3.08873 12.0012 3.75889 12.3338 4.52934C12.6664 5.29978 12.8327 6.12295 12.8327 6.99884C12.8327 7.87484 12.6665 8.69823 12.334 9.469C12.0016 10.2398 11.5504 10.9102 10.9805 11.4803C10.4106 12.0504 9.74046 12.5018 8.97002 12.8345C8.19957 13.1671 7.3764 13.3333 6.50052 13.3333ZM6.49935 12.3333C7.98824 12.3333 9.24935 11.8167 10.2827 10.7833C11.316 9.75 11.8327 8.48889 11.8327 7C11.8327 5.51112 11.316 4.25001 10.2827 3.21667C9.24935 2.18334 7.98824 1.66667 6.49935 1.66667C5.01046 1.66667 3.74935 2.18334 2.71602 3.21667C1.68268 4.25001 1.16602 5.51112 1.16602 7C1.16602 8.48889 1.68268 9.75 2.71602 10.7833C3.74935 11.8167 5.01046 12.3333 6.49935 12.3333Z" fill="#EE7113"> </path>
              </svg>
            </div>
          </span>
          <select name="fenster[1][request]">
            <option value="">kein Bedürfnis</option>
            <option value="Hitzeschutz">Hitzeschutz</option>
            <option value="UV-Schutz">UV-Schutz</option>
            <option value="Blendschutz">Blendschutz</option>
            <option value="Splitterschutz">Splitterschutz</option>
            <option value="Einbruchschutz">Einbruchschutz</option>
            <option value="Sichtschutz">Sichtschutz</option>
          </select>
        </div>
        <div class="cform_fouritems-inner">
          <span>Einsatzort</span>
          <select name="fenster[1][applicationSite]">
            <option value="">Bitte auswählen</option>
            <option value="Büro">Büro</option>
            <option value="Privat">Privat</option>
            <option value="Gewerbe">Gewerbe</option>
          </select>
        </div>
        <div class="cform_fouritems-inner">
          <span>Anzahl</span>
          <input type="text" name="fenster[1][quantity]" value="">
        </div>
      </div>
      <div class="product-upload-photos-wrapper">
        <div class="cform_fouritems-inner input--line">
          <label for="field8">Mitteilung*</label>
          <textarea name="fenster[1][remarks]" required></textarea>
        </div>
        <div class="cform_fouritems-inner input--button">
          <label for="field9">Fotos (max. 3) </label>          
          <label for="file-upload" class="custom-file-upload btn">
            Fotos auswählen
          </label>
          <input id="file-upload" type="file" name="fenster[1][photos]"
            value=""
            accept="image/png, image/gif, image/jpeg, application/pdf"
            multiple
            class="file_input button" />
        </div>
      </div>
    </div>
  </div>
  <div class="form-more-windows">
    <div id="form-more-windows-inner" class="form-more-windows-inner">
      <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20.5" cy="20" r="20" fill="#3588c8"></circle>
        <mask id="mask0_727_8189" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="8" y="8" width="25" height="24">
            <rect x="8.5" y="8" width="24" height="24" fill="#D9D9D9"></rect>
        </mask>
        <g mask="url(#mask0_727_8189)">
            <path d="M19.5 21H13.5V19H19.5V13H21.5V19H27.5V21H21.5V27H19.5V21Z" fill="white"></path>
        </g>
        <defs>
            <linearGradient id="paint0_linear_727_8189" x1="0.499991" y1="20" x2="40.5" y2="20" gradientUnits="userSpaceOnUse">
                <stop stop-color="#F5BD69"></stop>
                <stop offset="0.29519" stop-color="#F3AB55"></stop>
                <stop offset="0.59544" stop-color="#EF8125"></stop>
                <stop offset="0.69014" stop-color="#EE7113"></stop>
                <stop offset="0.92013" stop-color="#EC621C"></stop>
                <stop offset="1" stop-color="#EB5A22"></stop>
            </linearGradient>
        </defs>
      </svg>
      <span>Weitere Fenster</span>
    </div>
  </div>
</div>
