{% comment %}
  The contents of the cart.liquid template can be found in /sections/cart-template.liquid
{% endcomment %}

{% section 'cart-template' %}

<!-- <div class="agreement-popup" style="display:none">
  <div class="agreement-inner">
    <span class="agreement-msg">Bitte stimmen Sie den <a href="https://www.folienzuschnitt.ch/pages/agb">AGB</a> zu</span>
  </div>
</div> -->